<h4>Courses</h4>
<p>
{{#each posts as |post|}}
	{{#link-to 'posts' post.id}}{{post.title}}{{/link-to}}<br>
{{/each}}
<br>
</p>

<h4>Users</h4>
<p>
  {{#each users as |user|}}
    {{#link-to 'users' user.id}}{{user.firstName}}empty names - good links{{/link-to}}<br>
  {{/each}}
  <br>
</p>

{{outlet}}

